{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-instanceof",
    "transform-async-to-generator",
    "syntax-flow",
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "plugins": [
        "typecheck",
        "espower"
      ]
    },
    "production": {
      "plugins": [
        "unassert"
      ]
    }
  }
}
